/* ----- common ----- */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  background-color: #d3dbda;
}
header#green_header {
  position: absolute;
  z-index: -1;
  height: 15vh;
  width: 100%;
  background-color: #009688;
}

/* ----- main ----- */
main {
  display: flex;
  height: 95%;
  width: 80%;
  margin: auto;
  background-color: #fff;
}

.section_header {
  height: 55px;
  background-color: #eaeaea;
}

/* contact */
#contact {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 100%;
  border-right: 1px solid #d9d9d9;
}

#contact .section_header,
#chat .section_header,
.write_msg {
  display: flex;
  align-items: center;
  padding: 5px 10px;
}
#contact .section_header > img,
#chat .section_header > img {
  height: 90%;
  border-radius: 50%;
  cursor: pointer;
}
#contact .section_header > h2 {
  margin-left: 7px;
  font-size: 0.8em;
  flex-grow: 1;
}
#contact .section_header > i,
#chat .section_header > i {
  margin: 0 7px;
  color: #b1b1b1;
  cursor: pointer;
}

.notice {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  background-color: #8edafc;
}
.notice > .bell {
  display: flex;
  height: 40px;
  width: 40px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}
.notice i {
  margin: auto;
  font-size: 1.3em;
  color: #8edafc;
}
.notice .notice_title h3 {
  font-size: 0.8em;
  font-weight: 400;
}
.notice .notice_title a {
  font-size: 0.7em;
  text-decoration: underline;
  color: #444444;
}

.search {
  position: relative;
  height: 45px;
  padding: 5px;
  z-index: 1;
}

.search > input,
.write_msg input {
  height: 100%;
  width: 100%;
  padding: 5px 10px;
  border: 1px solid #e9ebeb;
  background-color: transparent;
}
.search > input {
  padding-left: calc(16px + 40px);
}
.search > input:focus,
.write_msg input:focus {
  outline: none;
}

.search > i {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #b1b1b1;
  z-index: -1;
}

.people {
  height: calc(100% - 55px - 60px - 35px);
  overflow-y: scroll;
}
.people .contact_chat {
  display: flex;
  height: 65px;
  padding: 7px 10px;
  border-top: 1px solid #e9ebeb;
  cursor: pointer;
}
.contact_chat.active {
  background-color: #e9ebeb;
}
.contact_chat > img {
  height: 100%;
  margin: auto 0;
  border-radius: 50%;
  /* cursor: pointer; */
}
.contact_chat_user {
  flex-grow: 1;
  margin-left: 10px;
}
.contact_chat h4 {
  font-size: 1.1em;
  font-weight: 400;
}
.contact_chat p,
#chat .section_header p {
  font-size: 0.8em;
  color: #444444;
}

/* chat */
#chat {
  display: flex;
  flex-direction: column;
  width: calc(100% - 35%);
  height: 100%;
}
#chat .section_header h4 {
  font-size: 1em;
  font-weight: 400;
}

.conversation {
  display: flex;
  flex-direction: column;
  height: calc(100% - 55px - 50px);
  padding: 40px 60px;
  background-image: url(../img/mine.jpg);
  background-position: left;
  background-size: 400px;
  overflow-y: scroll;
}
.msg {
  display: inline-block;
  min-width: 40%;
  padding-top: 10px;
  padding-left: 15px;
  margin: 5px 0;
  border-radius: 10px;
  font-size: 0.9em;
}
.msg_time {
  display: block;
  margin: 5px;
  text-align: right;
  font-size: 0.7em;
  color: #b1b1b1;
}
.sent {
  background-color: #d5f9ba;
  align-self: flex-end;
}
.received {
  align-self: flex-start;
  background-color: #fff;
}

.write_msg {
  height: 50px;
  background-color: #f3eeea;
}
.write_msg > i {
  margin: 0 20px;
  color: #6b7376;
  cursor: pointer;
}
