<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <!-- dayjs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.4/dayjs.min.js"
        integrity="sha512-0fcCRl828lBlrSCa8QJY51mtNqTcHxabaXVLPgw/jPA5Nutujh6CbTdDgRzl9aSPYW/uuE7c4SffFUQFBAy6lg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">
    <link rel='shortcut icon' type='image/x-icon' href='img/favicon.ico' />
    <title>Boolzapp</title>
</head>

<body>
    <!-- sfondo verde -->
    <header id="green_header"></header>

    <!-- sezione centrale pagina -->
    <main id="root">

        <!-- sezione sinistra con contatti personali -->
        <section id="contact">

            <!-- header utente con icone -->
            <header class="section_header">

                <img :src="getObjImage(user)" :alt="user.name">
                <h2>{{ user.name }}</h2>
                <i class="fas fa-circle-notch"></i>
                <i class="fas fa-comment-alt"></i>
                <i class="fas fa-ellipsis-v"></i>

            </header>

            <!-- banner azzurro notifiche -->
            <div class="notice">

                <div class="bell">
                    <i class="fas fa-bell-slash"></i>
                </div>

                <div class="notice_title">
                    <h3>Ricevi notifiche di nuovi messaggi</h3>
                    <a href="#">Attiva notifiche desktop</a>
                </div>

            </div>

            <!-- input ricerca/inizio chat -->
            <div class="search">
                <input type="text" placeholder="Cerca o inizia una nuova chat">
                <i class="fas fa-search"></i>
            </div>

            <!-- sezione contenente contatti -->
            <div class="people">

                <div v-for="(contact, index) in contacts"
                    @click="saveDraft(), resetMessage(), setCurrentContact(index), restoreDraft()"
                    :class="{'active' : index === currentContact}"
                    class="contact_chat">

                    <img :src="getObjImage(contact)" :alt="contact.name">

                    <div class="contact_chat_user">
                        <h4>{{ contact.name }}</h4>
                        <p>{{ getLastMessageText(index) }}</p>
                    </div>

                    <div>
                        <p>{{ getLastMessageData(index) }}</p>
                    </div>

                </div>

            </div>

        </section>
        <!-- /sezione sinistra con contatti personali -->

        <!-- sezione destra con chat -->
        <section id="chat">

            <!-- header contatto chat con icone -->
            <header class="section_header">

                <img :src="getContactImage()" :alt="contacts[currentContact].name">
                <div class="contact_chat_user">
                    <h4>{{ contacts[currentContact].name }}</h4>
                    <p>Ultimo accesso oggi alle <span>{{ getLastMessageData(currentContact) }}</span></p>
                </div>
                <i class="fas fa-search"></i>
                <i class="fas fa-paperclip"></i>
                <i class="fas fa-ellipsis-v"></i>

            </header>

            <!-- sezione centrale con storia chat -->
            <div class="conversation">

                <div v-for="message in contacts[currentContact].messages"
                     :class="message.status == 'sent' ? 'sent' : 'received'"
                     class="msg">
                    <p>{{ message.text }}</p>
                    <span class="msg_time">{{ message.date }}</span>
                </div>

            </div>

            <!-- input scrittura messaggio -->
            <div class="write_msg">
                <i class="far fa-smile"></i>
                <input type="text" placeholder="Scrivi un messaggio"
                       v-model="newMessage"
                       @keydown.enter="sendMessage('sent')"
                       @keydown.esc="sendMessage('received')">
                <i class="fas fa-microphone"></i>
            </div>

        </section>
        <!-- /sezione destra con chat -->

    </main>

    <script src="js/script.js"></script>
</body>

</html>